[Desktop Entry]
Name=VoIP telephony
Comment=Voice over IP telephony application (SIP)
TryExec=phone
Exec=phone -m sofia
Icon=call-start
Type=Application
Categories=Network;Telephony;GTK;
