[Desktop Entry]
Name=Phone log
Comment=Telephony activity log
TryExec=phonectl
Exec=phonectl -L
Icon=logviewer
Type=Application
Categories=Network;Telephony;GTK;
