[Desktop Entry]
Name=GPRS
Comment=Connect to Internet with a 2G/3G/4G modem connection
TryExec=gprs
Exec=gprs
Icon=stock_connect
Type=Application
Categories=Network;Telephony;GTK;
