[Desktop Entry]
Name=Messages
Comment=Telephony messaging
Exec=phonectl -M
Icon=stock_mail-compose
Type=Application
Categories=Network;Telephony;GTK;
