[Desktop Entry]
Name=Dialer
Comment=Telephony dialer
TryExec=phonectl
Exec=phonectl -D
Icon=call-start
Type=Application
Categories=Network;Telephony;GTK;
