[Desktop Entry]
Name=Dial-up networking
Comment=Connect to Internet with a modem or cell phone
TryExec=gprs
Exec=gprs
Icon=phone-gprs
Type=Application
Categories=Network;Telephony;GTK;
