[Desktop Entry]
Name=Contacts
Comment=Telephony address book
TryExec=phonectl
Exec=phonectl -C
Icon=stock_addressbook
Type=Application
Categories=Office;ContactManagement;GTK;
